
{% include scripts/scripts-common.html %}
<script>{% include scripts/aton.js %}</script>

<script>
// vim: ts=3

var aton = new ATON;
var PEOPLE = aton.parse(`{% include data/people.aton %}`).PERSON;
var PEEPS = {};
for (var i=0; i<PEOPLE.length; i++) {
	PEEPS[PEOPLE[i].NAME] = PEOPLE[i];
}

var CGI = {};      // CGI parameters from URL
var ROLLINFO = [];
var SORTCOLUMN = 1;
var ATONINDEX = "https://raw.githubusercontent.com/pianoroll/SUPRA/master/index.aton";


//////////////////////////////
//
// DOMContentLoaded event listener --
//

document.addEventListener("DOMContentLoaded", function () {
	var matches;
	CGI = GetCgiParameters();
	if (CGI.s) {
		if (matches = CGI.s.match(/(\d+)/)) {
			SORTCOLUMN = parseInt(matches[1]);
		}
	}

	var element = document.querySelector("input#search");
	if (element) {
		element.addEventListener("input", function() {
			doSearch();
		});
	}

	if (sessionStorage.ROLLINFO) {
		console.log("STORED ROLL INFO:", sessionStorage.ROLLINFO);
		ROLLINFO = JSON.parse(sessionStorage.ROLLINFO);
		doAction(ROLLINFO);
	} else {
		var request = new XMLHttpRequest();
		request.addEventListener("load", function () {
			var aton = new ATON;
			console.log("DOWNLOADED ROLL INFO", this.responseText);
			ROLLINFO = aton.parse(this.responseText).ROLL;
			sessionStorage.ROLLINFO = JSON.stringify(ROLLINFO);
			doAction(ROLLINFO);
		});
		request.open("GET", ATONINDEX);
		request.send();
	}
});



//////////////////////////////
//
// doAction --
//

function doAction(rollInfo) {
	if (CGI.q && !CGI.q.match(/^\s*$/)) {
		displayList(ROLLINFO, CGI.q, PEEPS);
	} else {
		displayList(ROLLINFO, null, PEEPS);
	}
	DisplayStats(ROLLINFO);
}



</script>
