
{% include scripts/scripts-common.html %}

<script>{% include scripts/aton.js %}</script>

<script>
// vim: ts=3

var WMCATALOG = null;  // used for alternate search list of works for Welte-Mignon catalog
var SEARCHTIMEOUT = null;
var aton = new ATON;
var PEOPLE = aton.parse(`{% include data/people.aton %}`).PERSON;
var PEEPS = {};
for (var i=0; i<PEOPLE.length; i++) {
	PEEPS[PEOPLE[i].NAME] = PEOPLE[i];
}

var CGI = {};      // CGI parameters from URL
var ROLLINFO = [];
var SORTCOLUMN = 1;
var ATONINDEX = "https://raw.githubusercontent.com/pianoroll/SUPRA/master/index.aton";
var WMINDEX = "https://raw.githubusercontent.com/pianoroll/SUPRA/gh-pages/_includes/data/welte-mignon-catalog.hmd";


//////////////////////////////
//
// DOMContentLoaded event listener --
//

document.addEventListener("DOMContentLoaded", function () {
	var matches;
	CGI = GetCgiParameters();
	if (CGI.s) {
		if (matches = CGI.s.match(/(\d+)/)) {
			SORTCOLUMN = parseInt(matches[1]);
		}
	}

	var element = document.querySelector("input#search");
	if (element) {
		element.addEventListener("input", function() {
			clearTimeout(SEARCHTIMEOUT);
			SEARCHTIMEOUT = setTimeout(function () {
				doSearch();
			}, 250);
		});
	}

	if (sessionStorage.WMCATALOG) {
		WMCATALOG = JSON.parse(sessionStorage.WMCATALOG);
	} else {
		var request = new XMLHttpRequest();
		request.addEventListener("load", function () {
			prepareWmCatalog(this.responseText);
		});
		request.open("GET", WMINDEX);
		request.send();
	}

	if (sessionStorage.ROLLINFO) {
		// console.log("STORED ROLL INFO:", sessionStorage.ROLLINFO);
		ROLLINFO = JSON.parse(sessionStorage.ROLLINFO);
		doAction(ROLLINFO);
	} else {
		var request = new XMLHttpRequest();
		request.addEventListener("load", function () {
			var aton = new ATON;
			// console.log("DOWNLOADED ROLL INFO", this.responseText);
			ROLLINFO = aton.parse(this.responseText).ROLL;
			sessionStorage.ROLLINFO = JSON.stringify(ROLLINFO);
			doAction(ROLLINFO);
		});
		request.open("GET", ATONINDEX);
		request.send();
	}
});



//////////////////////////////
//
// doAction --
//

function doAction(rollInfo) {
	if (CGI.q && !CGI.q.match(/^\s*$/)) {
		displayList(ROLLINFO, CGI.q, PEEPS);
	} else {
		displayList(ROLLINFO, null, PEEPS);
	}
	DisplayStats(ROLLINFO);
}



</script>



