
{% include_relative listeners.html %}
{% include_relative scripts-audio.html %}

<script>
// vim: ts=3


function displayList(index, query) {

	reportMatches(index);
	var output = "";
	output += "<table id='red-welte-list'>";
	output += "<thead>";
	output += "<tr>";
	output += "<th></th>";
	output += "<th onclick='sortByNumber(1)'>Label</th>";
	output += "<th onclick='sortByText(2)'>Title</th>";
	output += "<th onclick='sortByText(3)'>Composer</th>";
	output += "<th onclick='sortByText(4)'>Performer</th>";
	output += "<th></th>";  // Searchworks link
	output += "<th></th>";  // PURL link
	output += "</tr>";
	output += "</thead>";
	output += "<tbody>";
	for (var i=0; i<index.length; i++) {
		if (!index[i].TITLE) {
			continue;
		}
		output += "<tr class='data'>";

		var druid = index[i].DRUID.trim();
		output += "<td>";
		output += "<div id='audio_" + druid + "' ";
		output += "style='cursor:hand; cursor:pointer;' ";
		output += "onclick='PlayAudioFile(\"" + druid + "\", this);' ";
		output += "class='play audio'>play</div>";
		output += "</td>";

		output += "<td style='white-space:pre;'>" + index[i].LABEL.replace("Welte-Mignon", "WM") + "</td>";

		output += "<td style='max-width:250px;'>" + index[i].TITLE + "</td>";
		output += "<td style='min-width:250px;'>";
		if (index[i].COMPOSER) {
		 	output += index[i].COMPOSER.replace("-1", "&ndash;1");
		}
		output += "</td>";
		output += "<td>" + index[i].PERFORMER + "</td>";

		output += "<td>";
		output += "<span class='searchworks'>";
		output += "<a title='SearchWorks: Stanford Libraries card catalog entry' target='searchworks' href='";
		output += index[i].SEARCHWORKS;
		output += "'>SW</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='purl'>";
		output += "<a title='Link to scan (when available)' target='purl' href='";
		output += index[i].PURL;
		output += "'>Scan</a>";
		output += "</span>";
		output += "</td>";

		output += "</tr>";
	}
	output += "</tbody>";
	output += "</table>";

	var element = document.querySelector("div#list");

	if (query) {
		element.style.display = "none";
		var inp = document.querySelector("input#search");
		if (inp) {
			inp.value = query;
			doSearch(query);
		}
	} else {
		element.innerHTML = output;
	}
	sortByNumber(SORTCOLUMN);

	if (query) {
		element.style.display = "block";
	}
}



//////////////////////////////
//
// sortByText --
//

function sortByText(index, selector) {
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A;
		var B;
		if (selector) {
			A = a.cells[index].querySelector(selector).innerHTML;
			B = b.cells[index].querySelector(selector).innerHTML;
		} else {
			A = a.cells[index].textContent;
			B = b.cells[index].textContent;
		}
		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}
		var result = A.localeCompare(B);
		return result;
	});

	var body = document.querySelector("table#red-welte-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}




//////////////////////////////
//
// sortByNumber --
//

function sortByNumber(index, selector) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(".data");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A;
		var B;
		if (selector) {
			A = a.cells[index].querySelector(selector).innerHTML;
			B = b.cells[index].querySelector(selector).innerHTML;
		} else {
			A = a.cells[index].textContent;
			B = b.cells[index].textContent;
		}

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		var Anum = 0;
		var Bnum = 0;
		var matches;
		if (matches = A.match(/(\d+)/)) {
			Anum = parseInt(matches[1]);
		}
		if (matches = B.match(/(\d+)/)) {
			Bnum = parseInt(matches[1]);
		}

		return Anum - Bnum;
	});

	var body = document.querySelector("table#red-welte-list tbody");
	body.innerHTML = "";
	for (i=0; i<datalist.length; i++) {
		body.appendChild(datalist[i]);
	}
}



//////////////////////////////
//
// doSearch --
//

function doSearch(text) {
	text = text.trim();
	var fields = text.split(/\s+/);
	var entries = ROLLINFO;
	var oldentries;
	for (var i=0; i<fields.length; i++) { 
		if (fields[i].match(/^\s*$/)) {
			continue;
		}
		oldentries = entries;
		entries = [];
		var regexp = new RegExp(fields[i], "i");
		for (var j=0; j<oldentries.length; j++) {
			if (oldentries[j].TITLE && oldentries[j].TITLE.match(regexp)) {
				entries.push(oldentries[j]);
				continue;
			}
			if (oldentries[j].COMPOSER && oldentries[j].COMPOSER.match(regexp)) {
				entries.push(oldentries[j]);
				continue;
			}
			if (oldentries[j].PERFORMER && oldentries[j].PERFORMER.match(regexp)) {
				entries.push(oldentries[j]);
				continue;
			}
			if (oldentries[j].LABEL && oldentries[j].LABEL.match(regexp)) {
				entries.push(oldentries[j]);
				continue;
			}
		}
		
	}

	displayList(entries);
}



//////////////////////////////
//
// reportMatches --
//

function reportMatches(list) {
	var element = document.querySelector("#search-count");
	if (!element) {
		return;
	}
	if (list.length == ROLLINFO.length) {
		element.innerHTML = "";
		return;
	}
	var output = "" + list.length;
	output += " roll";
	if (list.length != 1) {
		output += "s";
	}
	element.innerHTML = output;
}


</script>




