
{% include scripts/scripts-common.html %}

<script>
// vim: ts=3

var PEOPLE = {% include data/people.json %}.PERSON;
var PEEPS = {};
for (var i=0; i<PEOPLE.length; i++) {
	PEEPS[PEOPLE[i].NAME] = PEOPLE[i].WIKIPEDIA;
}

var CGI = {};      // CGI parameters from URL
var ROLLINFO = [];
var ATONINDEX = "https://raw.githubusercontent.com/pianoroll/SUPRA/master/index.aton";

document.addEventListener("DOMContentLoaded", function () {
	HighlightLinkInHeader();
	CGI = GetCgiParameters();

	if (sessionStorage.ROLLINFO) {
		ROLLINFO = JSON.parse(sessionStorage.ROLLINFO);
		doActions(ROLLINFO);
	} else {
		var request = new XMLHttpRequest();
		request.addEventListener("load", function () {
			var aton = new ATON;
			ROLLINFO = aton.parse(this.responseText).ROLL;
			doActions(ROLLINFO);
		});
		request.open("GET", ATONINDEX);
		request.send();
	}

});


function doActions(listOfRolls) {
	DisplayStats(listOfRolls);
	DisplayComposers(listOfRolls, "#composers");
	DisplayPerformerComposers(listOfRolls, "#dual");
}



</script>
