<head>
<title>SUPRA</title>

<!-- Meta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- These meta tags are used when someone shares a link to this page on Facebook,
     Twitter or other social media sites. All tags are optional, but including them
     and customizing the content for specific sites can help the visibility of your
     content.
<meta property="og:type" content="website" />
<meta property="og:title" content="SUPRA: Stanford University Piano Roll Archive" />
<meta name="twitter:site" content="@TwitterHandle" />
<meta name="twitter:title" content="SUPRA" />
<meta name="twitter:description" content="Stanford University Piano Roll Archive." />
-->

<!-- JS and jQuery --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<script src="/scripts/modernizr.custom.17475.js"></script> 
<script src="/scripts/bootstrap.min.js"></script> 

<!-- CSS -->
<link rel="stylesheet" href="/styles/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="/styles/base.min.css?v=0.1" type="text/css" />
<link rel="stylesheet" href="/styles/custom.css?v=0.1" type="text/css"/>

<!-- custom JS -->
<script src="/scripts/base.js?v=1.0"></script>
<script src="/scripts/custom.js"></script>


</head>


