
<div  role="navigation">
	<div id="primary-nav">
		<ul class="highlight nav navbar-nav" aria-label="primary navigation">
			<li id="nav-home"> <a href="/">Home</a></li>
			<li id="nav-1">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/about">Overview</a></li>
					<li><a href="/midi-spec">MIDI specification</a></li>
					<li> <a href="/sv">Using with Sonic Visualiser</a> </li>
					<li><a href="/duplicates">Duplicates</a></li>
					<li><a href="/stats">Statistics</a></li>
					<li> <a href="/random">Random</a> </li>
					<li><a href="/bib">Bibliography/Links</a></li>
				</ul>
			</li>
			<li id="nav-2"> <a href="/download">Downloads</a> </li>
			<li id="nav-3"> <a href="/performers">Performers</a> </li>
			<li id="nav-4"> <a href="/composers">Composers</a> </li>
			<li id="nav-5"> <a href="/feedback">Feedback</a> </li>
		</ul>
	</div>
</div>



