
{% include_relative listeners.html %}
{% include_relative scripts-audio.html %}

<script>
// vim: ts=3



//////////////////////////////
//
// displayRandom --
//

function displayRandom(list, selector, peeps) {
	var rindex = Math.floor(Math.random() * list.length);
	if (!list[rindex].DRUID) {
		console.log("RANDOM INDEX", rindex);
		console.log("ENTRY AT", rindex, "DOES NOT HAVE DRUID:", list[rindex]);
		return;
	}
 	var druid = list[rindex].DRUID.trim();

	var output = "";
	output += "<table class='random'>";
	output += "<tr>";

	output += "<td>";
	output += "<div id='audio_" + druid + "' ";
	output += "style='width:150px; height:150px; cursor:hand; cursor:pointer;' ";
	output += "onclick='PlayAudioFile(\"" + druid + "\", this);' ";
	output += "class='play-big audio'>play</div>";
	output += "</td>";

	output += "<td>";

	output += "<table class='key-value'>";

	output += "<tr>";
	output += "<td>";
	output += "Title:";
	output += "</td>";
	output += "<td>";
	if (list[rindex].TITLE) {
		output += list[rindex].TITLE;
	}
	output += "</td>";
	output += "</tr>";

	output += "<tr>";
	output += "<td>";
	output += "Composer:";
	output += "</td>";
	output += "<td>";
	if (list[rindex].COMPOSER) {
	 	output += PreparePerson(list[rindex].COMPOSER, peeps);
	}
	output += "</td>";
	output += "</tr>";

	output += "<tr>";
	output += "<td>";
	output += "Performer:";
	output += "</td>";
	output += "<td>";
	if (list[rindex].PERFORMER) {
	 	output += PreparePerson(list[rindex].PERFORMER, peeps);
	}
	output += "</td>";
	output += "</tr>";

	output += "<tr>";
	output += "<td>";
	output += "Label:";
	output += "</td>";
	output += "<td>";
	if (list[rindex].LABEL) {
		output += list[rindex].LABEL;
	}
	output += "</td>";
	output += "</tr>";

	output += "</table>";

	output += "</td>";

	output += "</tr>";
	output += "</table>";

	var element = document.querySelector(selector);
	element.innerHTML = output;
}



</script>



