<script>
// vim: ts=3

//////////////////////////////
//
// HighlightLinkInHeader --
//   border-bottom: 2px solid #8c1515;
//

function HighlightLinkInHeader() {
	var element = document.querySelector("ul.highlight");
	if (!element) {
		return;
	}
	var list = element.querySelectorAll("li a");
	var target = window.location.pathname.replace(/\/$/, "");
	for (var i=0; i<list.length; i++) {
		var location = list[i].pathname.replace(/\/$/, "");
		if (location === target) {
			list[i].style.borderBottom = "2px solid #8c1515";
		} else {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
	}
}



//////////////////////////////
//
// GetCgiParameters -- Returns an associative array containing the
//     page's URL's CGI parameters
//

function GetCgiParameters() {
   var url = window.location.search.substring(1);
   var output = {};
   var settings = url.split('&');
   for (var i=0; i<settings.length; i++) {
      var pair = settings[i].split('=');
      pair[0] = decodeURIComponent(pair[0]);
      pair[1] = decodeURIComponent(pair[1]);
      if (typeof output[pair[0]] === 'undefined') {
         output[pair[0]] = pair[1];
      } else if (typeof output[pair[0]] === 'string') {
         var arr = [ output[pair[0]], pair[1] ];
         output[pair[0]] = arr;
      } else {
         output[pair[0]].push(pair[1]);
      }
   }
   return output;
}



//////////////////////////////
//
// DisplayStats --
//

function DisplayStats(database) {
	var element = document.querySelector("#stats");
	if (!element) {
		return;
	}
	var content = "";
	content += database.length + " scanned piano rolls<br/>";
	rolllen = GetRollLength(database);
	content += (rolllen * 4096).toLocaleString() + " pixels<br/>";
	var miles = rolllen / 300.0 / 12.0 / 5280.0;
	var rmiles = parseInt(miles * 100.0 + 0.5)/100.0;
	var km = miles * 1.60934;
	var rkm = parseInt(km * 100.0 + 0.5)/100.0;
	content += rmiles + " miles (";
	content += rkm + " km)<br/>";

	var notes = 1596721;  // for 386
	content += notes.toLocaleString() + " notes<br/>";

	var sec = 167349; // for 386
	var hours = parseInt(sec/3600);
	sec = sec - hours * 3600;
	var min = parseInt(sec/60);
	sec = sec - min * 60;
	content += hours + ":";
	if (min < 10) {
		content += "0";
	}
	content += min + ":";
	if (sec < 10) {
		content += "0";
	}
	content += sec;
	content += " hours of music";

	element.innerHTML = content;
}



//////////////////////////////
//
// GetRollLength -- return a sum of the IMAGE_LENGTH parameter from
//    each entry.
//

function GetRollLength(database) {
	var sum = 0;
	for (var i=0; i<database.length; i++) {
		if (!database[i].IMAGE_LENGTH) {
			continue;
		}
		var matches;
		if (matches = database[i].IMAGE_LENGTH.match(/(\d+)px/)) {
			sum += parseInt(matches[1]);
		}
	}
	return sum;
}



//////////////////////////////
//
// PreparePerson --
//

function PreparePerson(entry) {
	entry = entry.replace("-1", "&ndash;1");
	entry = entry.replace("-\)", "&ndash;)");
	var nombre = entry;
	var dates = "";
	var matches;
	if (matches = entry.match(/^\s*(.*)\s+(\(.*\))\s*$/)) {
		nombre = matches[1];
		dates = matches[2];
	}
	var link = "";
	if (PEEPS[nombre] && PEEPS[nombre].WIKIPEDIA) {
		link = PEEPS[nombre].WIKIPEDIA;
	} else if (PEEPS[nombre] && PEEPS[nombre].LINK) {
		link = PEEPS[nombre].LINK;
	}
	if (nombre.match(/ [A-Z]$/)) {
		nombre += ".";
	}
	if (!link) {
		if (!dates.match(/^\s*$/)) {
			return nombre + " " + dates;
		} else {
			return nombre;
		}
	}
	var output = "";
	output += "<a class='person' ";
	if (PEEPS[nombre] && PEEPS[nombre].NOTE && !PEEPS[nombre].NOTE.match(/^\s*$/)) {
		output += "title='" + PEEPS[nombre].NOTE + "' ";
	}
	output += "target='person' href='";
	output += link;
	output += "'>";
	output += nombre;
	output += "</a>";
	if (!dates.match(/^\s*$/)) {
		output += " ";
		output += dates;
	}
	return output;
}

function MakeRollTableRows(list) {
	var output = "";
	for (var i=0; i<list.length; i++) {
		if (!list[i].TITLE) {
			continue;
		}
		output += "<tr class='data'>";

		var druid = list[i].DRUID.trim();
		output += "<td>";
		output += "<div id='audio_" + druid + "' ";
		output += "style='cursor:pointer;' ";
		output += "onclick='PlayAudioFile(\"" + druid + "\", this);' ";
		output += "class='play audio'>play</div>";
		output += "</td>";

		output += "<td style='white-space:pre;'>" + list[i].LABEL.replace("Welte-Mignon", "WM") + "</td>";

		output += "<td style='max-width:250px;'>" + list[i].TITLE + "</td>";
		output += "<td style='min-width:250px;'>";
		if (list[i].COMPOSER) {
		 	output += PreparePerson(list[i].COMPOSER);
		}
		output += "</td>";
		output += "<td>";
		if (list[i].PERFORMER) {
		 	output += PreparePerson(list[i].PERFORMER);
		}
		output += "</td>";

		output += "<td>";
		output += "<span class='searchworks'>";
		output += "<a title='SearchWorks: Stanford Libraries card catalog entry' target='searchworks' href='";
		output += list[i].SEARCHWORKS;
		output += "'>SW</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='purl'>";
		output += "<a title='Link to scan (when available)' target='purl' href='";
		output += list[i].PURL;
		output += "'>Scan</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		if (list[i].ROLL_TYPE) {
			// https://github.com/pianoroll/SUPRA/blob/master/welte-red/midi-exp/bc072xf6791-exp.mid?raw=true
			output += "<span class='midi'>";
			output += "<a title='Link to Expressive MIDI file' target='midi' href='";
			output += "https://github.com/pianoroll/SUPRA/blob/master/";
			output += list[i].ROLL_TYPE.trim();
			output += "/midi-exp/";
			output += list[i].DRUID.trim() + "-exp.mid?raw=true";
			output += "'>Mexp</a>";
			output += "</span>";
		}
		output += "</td>";

		output += "<td>";
		if (list[i].ROLL_TYPE) {
			// https://github.com/pianoroll/SUPRA/blob/master/welte-red/midi-raw/bc072xf6791-raw.mid?raw=true
			output += "<span class='midi'>";
			output += "<a title='Link to Raw MIDI file' target='midi' href='";
			output += "https://github.com/pianoroll/SUPRA/blob/master/";
			output += list[i].ROLL_TYPE.trim();
			output += "/midi-raw/";
			output += list[i].DRUID.trim() + "-raw.mid?raw=true";
			output += "'>Mraw</a>";
			output += "</span>";
		}
		output += "</td>";

		output += "<td>";
		// http://ccrma.stanford.edu/~craig/piano-roll-project/supra-mp4s/bc072xf6791.m4a
		output += "<span class='mp4'>";
		output += "<a title='Link to MP4 audio file' target='audio' href='";
		output += "https://ccrma.stanford.edu/~craig/piano-roll-project/supra-mp4s/";
		output += list[i].DRUID.trim() + ".m4a'>";
		output += "MP4";
		output += "</a>";
		output += "</span>";
		output += "</td>";

		output += "</tr>";
	}
	return output;
}


</script>

