<script>
// vim: ts=3

//////////////////////////////
//
// HighlightLinkInHeader --
//   border-bottom: 2px solid #8c1515;
//

function HighlightLinkInHeader() {
	var element = document.querySelector("ul.highlight");
	if (!element) {
		return;
	}

	var list = element.querySelectorAll("li a");
	var target = window.location.pathname.replace(/\/$/, "");
	for (var i=0; i<list.length; i++) {
		var location = list[i].pathname.replace(/\/$/, "");
		if (location === target) {
			list[i].style.borderBottom = "2px solid #8c1515";
		} else {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
		if (list[i].textContent.match(/About/)) {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
	}
}



//////////////////////////////
//
// GetCgiParameters -- Returns an associative array containing the
//     page's URL's CGI parameters
//

function GetCgiParameters() {
   var url = window.location.search.substring(1);
   var output = {};
   var settings = url.split('&');
   for (var i=0; i<settings.length; i++) {
      var pair = settings[i].split('=');
      pair[0] = decodeURIComponent(pair[0]);
      pair[1] = decodeURIComponent(pair[1]);
      if (typeof output[pair[0]] === 'undefined') {
         output[pair[0]] = pair[1];
      } else if (typeof output[pair[0]] === 'string') {
         var arr = [ output[pair[0]], pair[1] ];
         output[pair[0]] = arr;
      } else {
         output[pair[0]].push(pair[1]);
      }
   }
   return output;
}



//////////////////////////////
//
// DisplayStats --
//

function DisplayStats(database) {
	var element = document.querySelector("#stats");
	if (!element) {
		return;
	}
	var content = "";
	content += database.length + " scanned piano rolls<br/>";
	rolllen = GetRollLength(database);
	content += (rolllen * 4096).toLocaleString() + " pixels<br/>";
	var miles = rolllen / 300.0 / 12.0 / 5280.0;
	var rmiles = parseInt(miles * 100.0 + 0.5)/100.0;
	var km = miles * 1.60934;
	var rkm = parseInt(km * 100.0 + 0.5)/100.0;
	content += rmiles + " miles (";
	content += rkm + " km)<br/>";

	var notes = 1596721;  // for 386
	content += notes.toLocaleString() + " notes<br/>";

	var sec = 167349; // for 386
	var hours = parseInt(sec/3600);
	sec = sec - hours * 3600;
	var min = parseInt(sec/60);
	sec = sec - min * 60;
	content += hours + ":";
	if (min < 10) {
		content += "0";
	}
	content += min + ":";
	if (sec < 10) {
		content += "0";
	}
	content += sec;
	content += " hours of music";

	element.innerHTML = content;
}



//////////////////////////////
//
// GetRollLength -- return a sum of the IMAGE_LENGTH parameter from
//    each entry.
//

function GetRollLength(database) {
	var sum = 0;
	for (var i=0; i<database.length; i++) {
		if (!database[i].IMAGE_LENGTH) {
			continue;
		}
		var matches;
		if (matches = database[i].IMAGE_LENGTH.match(/(\d+)px/)) {
			sum += parseInt(matches[1]);
		}
	}
	return sum;
}



//////////////////////////////
//
// PreparePerson --
//

function PreparePerson(entry, peeps) {
	var matches;
	if (matches = entry.match(/^(.*\)); (.*)$/)) {
		var person1 = PreparePerson(matches[1], peeps);
		var person2 = PreparePerson(matches[2], peeps);
		return person1 + ";<br/>" + person2;
	}

	entry = entry.replace("-1", "&ndash;1");
	entry = entry.replace("-2", "&ndash;2");
	entry = entry.replace("-\)", "&ndash;)");
	entry = entry
		.replace(" Nikolayevich", "")
		// .replace("-Bartholdy", "")
		.replace(" Konstantinovich", "");
	var nombre = entry;
	var dates = "";
	if (matches = entry.match(/^\s*(.*)\s+(\(.*\))\s*$/)) {
		nombre = matches[1];
		dates = matches[2];
	}
	var link = "";
	if (peeps && peeps[nombre] && peeps[nombre].WIKIPEDIA) {
		link = peeps[nombre].WIKIPEDIA;
	} else if (peeps && peeps[nombre] && peeps[nombre].LINK) {
		link = peeps[nombre].LINK;
	}
	if (nombre.match(/ [A-Z]$/)) {
		nombre += ".";
	}
	if (PEEPS && PEEPS[nombre] && PEEPS[nombre].DATES && !PEEPS[nombre].DATES.match(/^\s*$/)) {
		dates = "(" + PEEPS[nombre].DATES.replace("-1", "&ndash;1").replace("-2", "&ndash;2") + ")";
	}
	if (!link) {
		if (!dates.match(/^\s*$/)) {
			return nombre + " " + dates;
		} else {
			return nombre;
		}
	}
	var output = "";
	output += "<a class='person' ";
	if (PEEPS && PEEPS[nombre] && PEEPS[nombre].NOTE && !PEEPS[nombre].NOTE.match(/^\s*$/)) {
		output += "title='" + PEEPS[nombre].NOTE + "' ";
	}
	output += "target='person' href='";
	output += link;
	output += "'>";
	var n = nombre
		.replace(" Konstantinovich", "")
		.replace("-Bartholdy", "")
		.replace(" Nikolayevich", "");
	output += n;
	output += "</a>";
	if (!dates.match(/^\s*$/)) {
		output += " ";
		output += dates;
	}
	return output;
}

function MakeRollTableRows(list, peeps) {
	var output = "";
	for (var i=0; i<list.length; i++) {
		if (!list[i].TITLE) {
			continue;
		}
		output += "<tr class='data'>";
		// console.log("PROCESSING list", i, ":", list[i]);

		var druid = list[i].DRUID.trim();
		output += "<td>";
		output += "<div id='audio_" + druid + "' ";
		output += "style='cursor:pointer;' ";
		output += "onclick='PlayAudioFile(\"" + druid + "\", this);' ";
		output += "class='play audio'>play</div>";
		output += "</td>";

		var marclink = "https://github.com/pianoroll/SUPRA/blob/master/metadata/marcxml/";
		marclink += druid.charAt(0);
		marclink += "/";
		marclink += druid;
		marclink += ".marcxml";
		output += "<td style='white-space:pre;'>";
		output += "<a target='_blank' href='" + marclink + "'>";
		output += list[i].LABEL.replace("Welte-Mignon", "WM");
		output += "</a>";
		output += "</td>";

		var alttitle = "";
		var ms = list[i].LABEL.match(/Welte-Mignon\s*(\d+)/);
		if (ms && WMCATALOG) {
			var wm = WMCATALOG[ms[1]];
			if (wm) {
				alttitle = wm.title;
				alttitle = alttitle.replace(/['"]/g, "");
			}
		}
		output += "<td style='max-width:250px;'>";
		output += "<span";
		if (alttitle) {
			output += " title='" + alttitle + "'";
		}
		output += ">";
		output += list[i].TITLE;
		output += "</span>";
		output += "</td>";
		output += "<td style='min-width:250px;'>";
		if (list[i].COMPOSER) {
		 	output += PreparePerson(list[i].COMPOSER, peeps);
		}
		output += "</td>";
		output += "<td>";
		if (list[i].PERFORMER) {
		 	output += PreparePerson(list[i].PERFORMER, peeps);
		}
		output += "</td>";

		output += "<td>";
		output += "<span class='searchworks'>";
		output += "<a title='SearchWorks: Stanford Libraries card catalog entry' target='searchworks' href='";
		output += list[i].SEARCHWORKS;
		output += "'>SW</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='purl'>";
		output += "<a title='Scan of roll and audio' target='purl' href='/uv/?id=";
		output += list[i].DRUID;
		output += "'>";
		output += "<i style='color:#999;' class='fa fa-image'></i>";
		output += "</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='purl'>";
		output += "<a title='Stanford Digital Repository entry for roll' target='purl' href='";
		output += list[i].PURL;
		output += "'>SDR</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='drift'>";
		output += "<a title='roll leader' target='leader' href='/leader/?druid=";
		output += list[i].DRUID.trim();
		output += "'>L</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='image-analysis";
		if (list[i].QUALITY_TAG) {
			if (list[i].QUALITY_TAG === "0-0-0") {
				output += " good";
			} else if (list[i].QUALITY_TAG.match(/\d\d+-\d\d+-\d\d+/)) {
				output += " verybad";
			} else if (list[i].QUALITY_TAG.match(/\d\d/)) {
				output += " bad";
			}
		}
		output +="'>";
		output += "<a title='image quality analysis for roll";
		if (list[i].QUALITY_TAG) {
			output += " (" + list[i].QUALITY_TAG + ")";
		}
		output += "' target='searchworks' href='image-analysis/?druid=";
		output += list[i].DRUID.trim();
		output += "'>";
		output += "IA";
		output += "</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='drift'>";
		output += "<a title='drift analysis for roll' target='drift' href='/drift/?druid=";
		output += list[i].DRUID.trim();
		output += "'>D</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		output += "<span class='purl'>";
		output += "<a title='Uncompressed 300 DPI TIFF image of roll (green channel), warning: large file' target='purl' href='";
		output += "https://stacks.stanford.edu/file/";
		output += list[i].DRUID;
		output += '/';
		output += list[i].DRUID;
		output += "_0001_gr.tif";
		output += "'>";
		output += "<i style='color:#999;' class='fa fa-camera'></i>";
		output += "</a>";

		output += "</span>";
		output += "</td>";

		output += "<td>";
		if (list[i].ROLL_TYPE) {
			// https://github.com/pianoroll/SUPRA/blob/master/welte-red/midi-exp/bc072xf6791_exp.mid?raw=true
			output += "<span class='midi'>";
			output += "<a title='Expressive MIDI file' target='midi' href='";
			output += "https://github.com/pianoroll/SUPRA/blob/master/";
			output += list[i].ROLL_TYPE.trim();
			output += "/midi-exp/";
			output += list[i].DRUID.trim() + "_exp.mid?raw=true";
			output += "'>Mexp</a>";
			output += "</span>";
		}
		output += "</td>";

		output += "<td>";
		if (list[i].ROLL_TYPE) {
			// https://github.com/pianoroll/SUPRA/blob/master/welte-red/midi-raw/bc072xf6791_raw.mid?raw=true
			output += "<span class='midi'>";
			output += "<a title='Raw MIDI file' target='midi' href='";
			output += "https://github.com/pianoroll/SUPRA/blob/master/";
			output += list[i].ROLL_TYPE.trim();
			output += "/midi-raw/";
			output += list[i].DRUID.trim() + "_raw.mid?raw=true";
			output += "'>Mraw</a>";
			output += "</span>";
		}
		output += "</td>";

		output += "<td>";
		// http://ccrma.stanford.edu/~craig/piano-roll-project/supra/welte-red/mp4-exp/bc072xf6791.m4a
		output += "<span class='mp4'>";
		output += "<a title='Link to MP4 audio file' target='audio' href='";
		output += "https://ccrma.stanford.edu/~craig/piano-roll-project/supra/welte-red/mp4-exp/";
		output += list[i].DRUID.trim() + ".m4a'>";
		output += "MP4";
		output += "</a>";
		output += "</span>";
		output += "</td>";

		output += "<td>";
		// http://ccrma.stanford.edu/~craig/piano-roll-project/supra/welte-red/mp3-exp/bc072xf6791.mp3
		output += "<span class='mp3'>";
		output += "<a title='Link to MP3 audio file' target='audio' href='";
		output += "https://ccrma.stanford.edu/~craig/piano-roll-project/supra/welte-red/mp3-exp/";
		output += list[i].DRUID.trim() + ".mp3'>";
		output += "MP3";
		output += "</a>";
		output += "</span>";
		output += "</td>";

/*
		output += "<td>";
		// http://ccrma.stanford.edu/~craig/piano-roll-project/supra/welte-red/mp3-exp/bc072xf6791.mp3
		output += "<span class='wav'>";
		output += "<a title='Link to WAV audio file' target='audio' href='";
		output += "https://stacks.stanford.edu/file/";
		output += list[i].DRUID.trim();
		output += "/";
		output += list[i].DRUID.trim();
		output += "_pm.wav'>";
		output += "WAV";
		output += "</a>";
		output += "</span>";
		output += "</td>";
*/

		output += "</tr>";
	}
	return output;
}



//////////////////////////////
//
// BuildQualityTags --
//

function BuildQualityTags(list) {
	if (!list) {
		list = ROLLINFO;
	}
	var tag;
	for (var i=0; i<list.length; i++) {
		tag = "";

		if (typeof list[i].EDGE_TEAR_COUNT !== "undefined") {
			tag += list[i].EDGE_TEAR_COUNT.trim();
		} else {
			tag += "?";
		}
		tag += "-";

		if (typeof list[i].BAD_HOLE_COUNT !== "undefined") {
			tag += list[i].BAD_HOLE_COUNT.trim();
		} else {
			tag += "?";
		}
		tag += "-";

		if (typeof list[i].SHIFTS === "string") {
			tag += list[i].SHIFTS;
		} else if (Array.isArray(list[i].SHIFTS)) {
			tag += list[i].SHIFTS[0];
		} else if (!(typeof list[i].SHIFT === "undefined")) {
			tag += list[i].SHIFTS;
		} else {
			tag += "?";
		}
		list[i].QUALITY_TAG = tag;
	}
}



//////////////////////////////
//
// DisplayPianists --
//

function DisplayPianists(list, selector, peeps) {
	var labels = {};
	var pianists = {};
	var label;
	var i;
	var performer;
	for (i=0; i<list.length; i++) {
		if (!list[i].LABEL) {
			continue;
		}
		label = list[i].LABEL;
		if (labels[label]) {
			continue;
		}
		labels[label] = 1;
		if (!list[i].PERFORMER) {
			continue;
		}
		if (list[i].PERFORMER === "???") {
			continue;
		}
		performer = list[i].PERFORMER;
		if (performer === "Adam, Eugenie") {
			// Spelled in two ways in the list
			performer = "Adam-Benard, Eugenie";
		}
		if (!pianists[performer]) {
			pianists[performer] = 0;
		}
		pianists[performer]++;
	}

	var plist = [];
	for (var pianist in pianists) {
		plist.push([pianists[pianist], pianist]);
	}
	plist.sort(function(a, b) {
		return b[0] - a[0];
	});

	var birth = "";
	var death = "";
	var matches;
	var output = "";
	output += "<table id='performerList' class='count'>";

	output += "<thead>";
	output += "<tr>";
	output += "<th title='Sort by performance count' onclick='SortByNumber(0, \"#performerList\", true)' style='padding-right:20px;'>Count</th>";
	output += "<th title='Sort by performer' onclick='SortByText(1, \"#performerList\")'>Performer</th>";
	output += "<th style='padding-right:10px;' title='Sort by birth year' onclick='SortByText(2, \"#performerList\")'>Birth</th>";
	output += "<th style='padding-right:10px;' title='Sort by death year' onclick='SortByText(3, \"#performerList\")'>Death</th>";
	output += "<th title='Sort by nationality' onclick='SortByText(4, \"#performerList\")'>Nationality</th>";
	output += "</tr>";
	output += "</thead>";
	output += "<tbody>";

	var pbirth;
	var pdeath;

	for (i=0; i<plist.length; i++) {
		output += "<tr>"
		output += "<td>"
		output += plist[i][0];
		output += "</td>"
		output += "<td>"
		output += "<a href='/?q=";
		output += encodeURI(
						FlipName(plist[i][1].replace(/\s*\(.*/, ""))
							.replace(/-Benard/, "")
					);
		output += "&f=PERFORMER'>";

		pbirth = 0;
		pdeath = 0;

		if (PEEPS[plist[i][1]] && PEEPS[plist[i][1]].DATES) {
			matches = PEEPS[plist[i][1]].DATES.match(/([\d\/]+)-([\d\/]+)/);
			if (matches) {
				pbirth = matches[1];
				pdeath = matches[2];
			}
		}

		var person  = PreparePerson(plist[i][1], null);

		matches = person.match(/\((c?[\d\/]+)&ndash;([\d\/]+)\)/);
		if (matches) {
			birth = matches[1];
			death = matches[2];
			person = person.replace(/\(c?[\d\/]+&ndash;[\d\/]+\)/, "");
		} else if (matches = person.match(/\(&ndash;([\d\/]+)\)/)) {
			death = matches[1];
			birth = "";
			person = person.replace(/\(&ndash;[\d\/]+\)/, "");
		} else if (matches = person.match(/\(([\d\/]+)-\)/)) {
			birth = matches[1];
			death = "";
			person = person.replace(/\([\d\/]+-\)/, "");
		} else if (matches = person.match(/\(([\d\/]+)&ndash;\)/)) {
			birth = matches[1];
			death = "";
			person = person.replace(/\([\d\/]+&ndash;\)/, "");
		} else {
			birth = "";
			death = "";
		}
		output += person;
		output += "</a>";
		output += "</td>"

		if (PEEPS[person] && PEEPS[person].DATES) {
			matches = PEEPS[person].DATES.match(/([\d\/]+)-([\d\/]+)/);
			if (matches) {
				birth = matches[1];
				death = matches[2];
			}
		}
		if (pbirth > 0) {
			birth = pbirth;
		}
		if (pdeath > 0) {
			death = pdeath;
		}

		output += "<td>"
		output += birth;
		output += "</td>"

		output += "<td>"
		output += death;
		output += "</td>"

		output += "<td>"
		var onlyname = plist[i][1].replace(/\s*\(.*/, "");
		if (PEEPS && PEEPS[onlyname] && PEEPS[onlyname].NATIONALITY) {
			output += PEEPS[onlyname].NATIONALITY;
		}
		output += "</td>"

		output += "</tr>"
	}

	output += "</tbody>";
	output += "</table>";

	var element = document.querySelector(selector);
	if (!element) {
		return;
	}
	element.innerHTML = output;
}



//////////////////////////////
//
// DisplayComposers --
//

function DisplayComposers(list, selector, peeps) {
	var labels = {};
	var pianists = {};
	var label;
	var i;
	for (i=0; i<list.length; i++) {
		if (!list[i].LABEL) {
			continue;
		}
		label = list[i].LABEL;
		if (labels[label]) {
			continue;
		}
		labels[label] = 1;
		if (!list[i].COMPOSER) {
			continue;
		}
		if (list[i].COMPOSER === "???") {
			continue;
		}
		if (!pianists[list[i].COMPOSER]) {
			pianists[list[i].COMPOSER] = 0;
		}
		pianists[list[i].COMPOSER]++;
	}

	var plist = [];
	for (var pianist in pianists) {
		plist.push([pianists[pianist], pianist]);
	}
	plist.sort(function(a, b) {
		return b[0] - a[0];
	});

	var birth = "";
	var death = "";
	var matches;
	var output = "";
	output += "<table id='composerList' class='count'>";

	output += "<thead>";
	output += "<tr>";
	output += "<th title='Sort by composition count' onclick='SortByNumber(0, \"#composerList\", true)' style='padding-right:20px;'>Count</th>";
	output += "<th title='Sort by composer' onclick='SortByText(1, \"#composerList\")'>Composer</th>";
	output += "<th style='padding-right:10px;' title='Sort by birth year' onclick='SortByText(2, \"#composerList\")'>Birth</th>";
	output += "<th style='padding-right:10px;' title='Sort by death year' onclick='SortByText(3, \"#composerList\")'>Death</th>";
	output += "<th title='Sort by nationality' onclick='SortByText(4, \"#composerList\")'>Nationality</th>";
	output += "</tr>";
	output += "</thead>";
	output += "<tbody>";

	var pbirth;
	var pdeath;

	for (i=0; i<plist.length; i++) {
		output += "<tr>"

		output += "<td>"
		output += plist[i][0];
		output += "</td>"

		output += "<td>"
		output += "<a href='/?q=";
		output += encodeURI(FlipName(plist[i][1].replace(/\s*\(.*/, "")))
		output += "&f=COMPOSER'>";

		pbirth = 0;
		pdeath = 0;

		if (PEEPS[plist[i][1]] && PEEPS[plist[i][1]].DATES) {
			matches = PEEPS[plist[i][1]].DATES.match(/([\d\/]+)-([\d\/]+)/);
			if (matches) {
				pbirth = matches[1];
				pdeath = matches[2];
			}
		}

		var preperson = plist[i][1].replace(/; Grof.*/, "");
		var person = PreparePerson(preperson, null);
		matches = person.match(/\(([\d\/]+)&ndash;([\d\/]+)\)/);
		if (matches) {
			birth = matches[1];
			death = matches[2];
			person = person.replace(/\([\d\/]+&ndash;[\d\/]+\)/, "");
		} else if (matches = person.match(/\(&ndash;([\d\/]+)\)/)) {
			death = matches[1];
			birth = "";
			person = person.replace(/\(&ndash;[\d\/]+\)/, "");
		} else if (matches = person.match(/\(([\d\/]+)&ndash;\)/)) {
			birth = matches[1];
			death = "";
			person = person.replace(/\(([\d\/]+)&ndash;\)/, "");
		} else {
			birth = "";
			death = "";
		}
		output += person
			.replace(" Konstantinovich", "")
			.replace("-Bartholdy", "")
			.replace(" Nikolayevich", "");
		output += "</a>";
		output += "</td>"

		if (pbirth > 0) {
			birth = pbirth;
		}
		if (pdeath > 0) {
			death = pdeath;
		}

		output += "<td>"
		output += birth;
		output += "</td>"

		output += "<td>"
		output += death;
		output += "</td>"

		output += "<td>"
		var onlyname = plist[i][1].replace(/\s*\(.*/, "");
		if (PEEPS && PEEPS[onlyname] && PEEPS[onlyname].NATIONALITY) {
			output += PEEPS[onlyname].NATIONALITY;
		}
		output += "</td>"

		output += "</tr>"
	}

	output += "</table>";


	var element = document.querySelector(selector);
	if (!element) {
		return;
	}
	element.innerHTML = output;
}



//////////////////////////////
//
// DisplayPerformerComposers --
//

function DisplayPerformerComposers(list, selector, peeps) {
	var performers = {};
	var composers = {};
	var labels = {};
	var i;
	for (i=0; i<list.length; i++) {
		if (!list[i].COMPOSER) {
			continue;
		}
		if (list[i].COMPOSER === "???") {
			continue;
		}
		if (!list[i].PERFORMER) {
			continue;
		}
		if (!list[i].LABEL) {
			continue;
		}

		if (labels[list[i].LABEL]) {
			continue;
		}
		labels[list[i].LABLE] = 1;


		if (performers[list[i].PERFORMER]) {
			performers[list[i].PERFORMER]++;
		} else {
			performers[list[i].PERFORMER] = 1;
		}

		if (composers[list[i].COMPOSER]) {
			composers[list[i].COMPOSER]++;
		} else {
			composers[list[i].COMPOSER] = 1;
		}
	}

	var matches;
	var combined = [];
	var composer;
	for (composer in composers) {
		if (performers[composer]) {
			combined.push(composer);
		}
	}
	combined = combined.sort();

	var output = "";
	output += "<table id='dualList' class='triple'>";

	output += "<thead>";
	output += "<tr>";
	output += "<th title='Sort by composition count' onclick='SortByNumber(0, \"#dualList\", true)' style='padding-right:20px;'>Compositions</th>";
	output += "<th title='Sort by performance count' onclick='SortByNumber(1, \"#dualList\", true)' style='padding-right:20px;'>Performances</th>";
	output += "<th title='Sort by name of performer/composer' onclick='SortByText(2, \"#dualList\")'>Name</th>";
	output += "</tr>";
	output += "</thead>";
	output += "<tbody>";

	for (i=0; i<combined.length; i++) {
		output += "<tr>"
		output += "<td>"
		output += composers[combined[i]];
		output += "</td>"
		output += "<td>"
		output += performers[combined[i]];
		output += "</td>"
		output += "<td>"
		output += "<a href='/?q=";
		output += encodeURI(FlipName(combined[i].replace(/\s*\(.*/, "")))
		output += "'>";
		var value = PreparePerson(combined[i], null);
		if (matches = value.match(/(.*)\s+\((.*)\)\s*$/)) {
			value = matches[1];
		}
		output += value;
		output += "</a>";
		if (matches) {
			output += " (" + matches[2] + ")";
		}
		output += "</td>"
		output += "</tr>"
	}

	output += "</table>";

	var element = document.querySelector(selector);
	if (!element) {
		return;
	}
	element.innerHTML = output;
}



//////////////////////////////
//
// FlipName --
//

function FlipName(bname) {
	var matches = bname.match(/^([^,]+),\s+([^,]+)$/);
	if (!matches) {
		return bname;
	} else {
		return matches[2] + " " + matches[1];
	}
}



//////////////////////////////
//
// SortByNumber --
//

function SortByNumber(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		if (A.match(/\?\?\?/)) {
			return +1;
		}
		if (B.match(/\?\?\?/)) {
			return -1;
		}

		var Anum = 0;
		var Bnum = 0;

		var matches;
		if (matches = A.match(/(\d+)/)) {
			Anum = parseInt(matches[1]);
		}
		if (matches = B.match(/(\d+)/)) {
			Bnum = parseInt(matches[1]);
		}

		if (reverse) {
			return Bnum - Anum;
		} else {
			return Anum - Bnum;
		}
	});

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByDruid --
//

function SortByDruid(index, selector, reverse) {
	SORTCOLUMN = index;
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].querySelector("a").href;
		var B = b.cells[index].querySelector("a").href;

		if (!A) {
			return +1;
		}
		if (!B) {
			return -1;
		}

		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}

		var Anum = "";
		var Bnum = "";
		var matches;
		var regex = new RegExp(/([a-z]{2}\d{3}[a-z]{2}\d{4})/, 'i');
		if (matches = regex.exec(A)) {
			Anum = matches[1];
		}
		if (matches = regex.exec(B)) {
			Bnum = matches[1];
		}

		if (reverse) {
			return Bnum.localeCompare(Anum);
		} else {
			return Anum.localeCompare(Bnum);
		}
	});

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}



//////////////////////////////
//
// SortByText --
//

function SortByText(index, selector) {
	var data = document.querySelectorAll(selector + " > tbody > tr");
	var datalist = [];
	var i;
	for (i=0; i<data.length; i++) {
		datalist.push(data[i]);
	}
	datalist.sort(function(a, b) {
		var A = a.cells[index].textContent;
		var B = b.cells[index].textContent;
		if (A.match(/^\s*$/)) {
			return +1;
		}
		if (B.match(/^\s*$/)) {
			return -1;
		}
		if (A === "???") {
			return +1;
		}
		if (B === "???") {
			return -1;
		}

		var result = A.localeCompare(B);
		return result;
	});

	var body = document.querySelector(selector + " tbody");
	if (body) {
		body.innerHTML = "";
		for (i=0; i<datalist.length; i++) {
			body.appendChild(datalist[i]);
		}
	}
}


//////////////////////////////
//
// GetDruidInfo --
//

function GetDruidInfo (rollinfo, druid) {
	if (!rollinfo) {
		return {};
	}
	for (var i=0; i<rollinfo.length; i++) {
		if (rollinfo[i].DRUID === druid) {
			return rollinfo[i];
		}
	}
	return {};
}

</script>

