
{% include_relative listeners.html %}
{% include_relative scripts-audio.html %}

<script>
// vim: ts=3



//////////////////////////////
//
// displayViewer --
//

function displayViewer(druid, rollinfo, peeps) {
	if (!druid) {
		druid = "sp773vt2651";
	}
	druid = druid.trim();
	console.log("DISPLAY ", druid, "HERE");
	// var iframe = document.querySelector("iframe");
	// var url = "https://embed.stanford.edu/iframe?url=https://purl.stanford.edu/";
	// url += druid  + "&hide_title=true&r=270"
	// iframe.src = url;

	info = GetDruidInfo(rollinfo, druid);
	console.log("INFO", info);
	yval = 0;
	if (info && info.PRELEADER_ROW) {
		yval = parseInt(info.PRELEADER_ROW);
	}

	window.addEventListener('uvLoaded', function(e) { 
         var urlDataProvider = new UV.URLDataProvider(true);
			var options = {
				root: '.',
				iiifResourceUri: 'https://purl.stanford.edu/' + druid + '/iiif/manifest',
				configUri: undefined,
				collectionIndex: 0,
				manifestIndex: 0,
				sequenceIndex: 0,
				canvasIndex: 0,
				rangeId: 0,
				rotation: 270,
				xywh: "0," + (yval+500) + ",4096," + (4096*4.67),
				embedded: false,
				locales: [{name: "en-GB"}]
			}
			uv = createUV('#uv', options, urlDataProvider);
	}, false);


	displayInfo(druid, rollinfo, peeps, "#info");
}


//////////////////////////////
//
// displayInfo --
//

function displayInfo(druid, rollinfo, peeps, selector) {
	var rindex = -1
	for (var i=0; i<rollinfo.length; i++) {
		if (rollinfo[i].DRUID === druid) {
			rindex = i;
			break;
		}
	}
	if (rindex < 0) {
		console.log("Error: druid", druid, "is not in database");
		return;
	}

	var output = "";
	output += "<table class='info'>";
	output += "<tr>";

	output += "<td>";
	output += "<div id='audio_" + druid + "' ";
	output += "style='width:150px; height:150px; cursor:pointer;' ";
	output += "onclick='PlayAudioFile(\"" + druid + "\", this);' ";
	output += "class='play-big audio'>play</div>";
	output += "</td>";

	output += "<td>";

	output += "<table class='key-value'>";

	output += "<tr>";
	output += "<td>";
	output += "Title:";
	output += "</td>";
	output += "<td>";
	if (rollinfo[rindex].TITLE) {
		output += rollinfo[rindex].TITLE;
	}
	output += "</td>";
	output += "</tr>";

	output += "<tr>";
	output += "<td>";
	output += "Composer:";
	output += "</td>";
	output += "<td>";
	if (rollinfo[rindex].COMPOSER) {
	 	output += PreparePerson(rollinfo[rindex].COMPOSER, peeps);
	}
	output += "</td>";
	output += "</tr>";

	output += "<tr>";
	output += "<td>";
	output += "Performer:";
	output += "</td>";
	output += "<td>";
	if (rollinfo[rindex].PERFORMER) {
	 	output += PreparePerson(rollinfo[rindex].PERFORMER, peeps);
	}
	output += "</td>";
	output += "</tr>";

	output += "<tr>";
	output += "<td>";
	output += "Label:";
	output += "</td>";
	output += "<td>";
	if (rollinfo[rindex].LABEL) {
		output += rollinfo[rindex].LABEL;
	}
	output += "</td>";
	output += "</tr>";

	output += "</table>";

	output += "</td>";

	output += "</tr>";
	output += "</table>";

	var element = document.querySelector(selector);
	element.innerHTML = output;
}



</script>



