
{% include_relative listeners.html %}
{% include_relative scripts-audio.html %}

<script>
// vim: ts=3



//////////////////////////////
//
// displayStatsOnPage --
//

function displayStatsOnPage(database, selector) {
	var element = document.querySelector(selector);
	if (!element) {
		return;
	}

	var rollcount = database.length;
	var rolllength = GetRollLength(database);

	var content = "";
	content += "<table class='stats'>";

	content += "<tr>";
	content += "<td>";
	content += "Number of scanned rolls:";
	content += "</td>";
	content += "<td>";
	content += rollcount
	content += "</td>";
	content += "</tr>";

	content += "<tr>";
	content += "<td>";
	content += "Number of image pixels:";
	content += "</td>";
	content += "<td>";
	content += (rolllength * 4096).toLocaleString();
	content += "</td>";
	content += "</tr>";

	var miles = rolllength / 300.0 / 12.0 / 5280.0;
	var rmiles = parseInt(miles * 100.0 + 0.5)/100.0;
	var km = miles * 1.60934;
	var rkm = parseInt(km * 100.0 + 0.5)/100.0;

	content += "<tr>";
	content += "<td>";
	content += "Total length of rolls:";
	content += "</td>";
	content += "<td>";
	content += rmiles + " miles (";
	content += rkm + " km)<br/>";
	content += "</td>";
	content += "</tr>";

	var feet = rolllength / 300.0 / 12.0 / rollcount;
	var rfeet = parseInt(feet * 10.0 + 0.5)/10.0;
	var meters = feet / 3.28084;
	var rmeters = parseInt(meters * 10.0 + 0.5)/10.0;

	content += "<tr>";
	content += "<td>";
	content += "Average length of roll:";
	content += "</td>";
	content += "<td>";
	content += rfeet + " feet (";
	content += rmeters + " meters)<br/>";
	content += "</td>";
	content += "</tr>";

	var areaff = rolllength * 4096 / 300 / 300 / 1.32 / 6273000;

	content += "<tr>";
	content += "<td>";
	content += "Total area of rolls:";
	content += "</td>";
	content += "<td>";
	content += parseInt(areaff*100.0+0.5)/100.0 + " American football fields";
	content += "</td>";
	content += "</tr>";

	var notes = 1596721;  // for 386

	content += "<tr>";
	content += "<td>";
	content += "Total number of notes:";
	content += "</td>";
	content += "<td>";
	content += notes.toLocaleString();
	content += "</td>";
	content += "</tr>";

	content += "<tr>";
	content += "<td>";
	content += "Average number of notes:";
	content += "</td>";
	content += "<td>";
	content += (parseInt(notes/rollcount + 0.5)).toLocaleString();
	content += "</td>";
	content += "</tr>";

	var sec = 167349; // for 386
	var osec = sec;
	var hours = parseInt(sec/3600);
	sec = sec - hours * 3600;
	var min = parseInt(sec/60);
	sec = sec - min * 60;
	var totaltime = hours + ":";
	if (min < 10) {
		totaltime += "0";
	}
	totaltime += min + ":";
	if (sec < 10) {
		totaltime += "0";
	}
	totaltime += sec;
	totaltime += " hours";

	content += "<tr>";
	content += "<td>";
	content += "Total duration of rolls:";
	content += "</td>";
	content += "<td>";
	content += totaltime;
	content += "</td>";
	content += "</tr>";

	var xsec = osec / rollcount;
	var xmin = parseInt(xsec / 60.0);
	xsec = xsec - xmin * 60;
	var oneroll = xmin + ":";
	if (xsec < 10) {
		oneroll += "0";
	}
	oneroll += parseInt(xsec+0.5) + " minutes";

	content += "<tr>";
	content += "<td>";
	content += "Average duration of roll:";
	content += "</td>";
	content += "<td>";
	content += oneroll;
	content += "</td>";
	content += "</tr>";

	content += "</table>";


	element.innerHTML = content;
}



//////////////////////////////
//
// displayScanStats
//

function displayScanStats(list, selector) {
	var element = document.querySelector(selector);
	if (!element) {
		return;
	}
	var output = "";

	output += "<table id='scanStats'>";
	output += "<thead>";
	output += "<tr>";
	output += "<th></th>";
	output += "<th title='Sort by Digital Repository Unique ID' onclick='SortByText(1, \"#scanStats\")'>DRUID</th>";
	output += "<th title='Sort by Digital Repository Unique ID' onclick='SortByText(2, \"#scanStats\")'>CATKEY</th>";
	output += "<th title='Sort by manufacturer catalog number' onclick='SortByText(3, \"#scanStats\")'>Label</th>";
	output += "<th title='Sort by title' onclick='SortByText(4, \"#scanStats\")'>Title</th>";
	output += "<th title='Sort by composer' onclick='SortByText(5, \"#scanStats\")'>Composer</th>";
	output += "<th title='Sort by performer' onclick='SortByText(6, \"#scanStats\")'>Performer</th>";
	output += "<th title='Sort by edge tear count' onclick='SortByNumber(7, \"#scanStats\", true)'>Edge tears</th>";
	output += "<th title='Sort by suspicious hole count' onclick='SortByNumber(8, \"#scanStats\", true)'>Bad holes</th>";
	output += "<th title='Sort by operator shifts count' onclick='SortByNumber(9, \"#scanStats\", true)'>Shifts</th>";
	output += "<th title='Sort by operator shifts count' onclick='SortByNumber(10, \"#scanStats\", true)'>Drift&nbsp;px</th>";
	output += "<th title='Sort by tiny-hole count (holes less than 1/6 the size of a punch)' onclick='SortByNumber(11, \"#scanStats\", true)'>Tiny&nbsp;holes</th>";
	output += "<th title='Sort by dust score (parts-per-million)' onclick='SortByNumber(12, \"#scanStats\", true)'>Dust</th>";
	output += "<th title='Sort by rendered tempo' onclick='SortByNumber(13, \"#scanStats\", true)'>Tempo</th>";
	output += "</tr>";
	output += "</thead>";

	output += "<tbody>";
	for (var i=0; i<list.length; i++) {
		if (!list[i].DRUID) {
			continue;
		}
		output += "<tr>";

		var druid = list[i].DRUID.trim();
		output += "<td>";
		output += "<div id='audio_" + druid + "' ";
		output += "style='cursor:pointer;' ";
		output += "onclick='PlayAudioFile(\"" + druid + "\", this);' ";
		output += "class='play audio'>play</div>";
		output += "</td>";


		output += "<td>";
		if (list[i].PURL) {
			output += "<a target='_blank' href='" + list[i].PURL + "'>";
			output += list[i].DRUID;
			output += "</a>";
		} else {
			output += list[i].DRUID;
		}
		output += "</td>";

		if (list[i].SEARCHWORKS) {
			output += "<td>";
			output += "<a target='_blank' href='" + list[i].SEARCHWORKS + "'>";
			output += list[i].CATKEY;
			output += "</a>";
		} else {
			output += "<td class='warning3'>";
			output += list[i].CATKEY;
		}
		output += "</td>";


		output += "<td>";
		if (list[i].LABEL) {
			output += list[i].LABEL.replace("Welte-Mignon", "WM");
		}
		output += "</td>";
		

		output += "<td style='width:100px;'>";
		if (list[i].TITLE) {
			output += list[i].TITLE;
		}
		output += "</td>";
		

		output += "<td>";
		if (list[i].COMPOSER) {
			output += list[i].COMPOSER.replace(/,.*/, "");
		}
		output += "</td>";
		

		output += "<td>";
		if (list[i].PERFORMER) {
			output += list[i].PERFORMER.replace(/,.*/, "");
		}
		output += "</td>";


		var tears = -1;
		if (list[i].EDGE_TEAR_COUNT) {
			tears = parseInt(list[i].EDGE_TEAR_COUNT);
			if (tears >= 50) {
				output += "<td class='warning3' style='text-align:center;'>";
			} else if (tears >= 20) {
				output += "<td class='warning2' style='text-align:center;'>";
			} else if (tears >= 10) {
				output += "<td class='warning1' style='text-align:center;'>";
			} else {
				output += "<td style='text-align:center;'>";
			}
		} else {
			output += "<td style='text-align:center;'>";
		}
		if (list[i].EDGE_TEAR_COUNT) {
			output += tears;
		}
		output += "</td>";


		var badholes = -1;
		if (list[i].BAD_HOLE_COUNT) {
			badholes = parseInt(list[i].BAD_HOLE_COUNT);
			if (badholes >= 50) {
				output += "<td class='warning3' style='text-align:center;'>";
			} else if (badholes >= 20) {
				output += "<td class='warning2' style='text-align:center;'>";
			} else if (badholes >= 10) {
				output += "<td class='warning1' style='text-align:center;'>";
			} else {
				output += "<td style='text-align:center;'>";
			}
		} else {
			output += "<td style='text-align:center;'>";
		}
		if (list[i].BAD_HOLE_COUNT) {
			output += badholes;
		}
		output += "</td>";


		var shifts = -1;
		if (list[i].SHIFTS) {
			shifts = parseInt(list[i].SHIFTS);
			if (shifts >= 9) {
				output += "<td class='warning3' style='text-align:center;'>";
			} else if (shifts >= 6) {
				output += "<td class='warning2' style='text-align:center;'>";
			} else if (shifts >= 3) {
				output += "<td class='warning1' style='text-align:center;'>";
			} else {
				output += "<td style='text-align:center;'>";
			}
		} else {
			output += "<td style='text-align:center;'>";
		}
		if (list[i].SHIFTS) {
			output += shifts;
		}
		output += "</td>";


		var drift = -1;
		if (list[i].DRIFT_RANGE) {
			drift = parseInt(list[i].DRIFT_RANGE);
			if (drift >= 35) {
				output += "<td class='warning3' style='text-align:center;'>";
			} else if (drift >= 25) {
				output += "<td class='warning2' style='text-align:center;'>";
			} else if (drift >= 15) {
				output += "<td class='warning1' style='text-align:center;'>";
			} else {
				output += "<td style='text-align:center;'>";
			}
		} else {
			output += "<td style='text-align:center;'>";
		}
		if (list[i].DRIFT_RANGE) {
			output += drift;
		}
		output += "</td>";


		var antidust = -1;
		if (list[i].ANTIDUST_COUNT) {
			antidust = parseInt(list[i].ANTIDUST_COUNT);
			if (antidust >= 1000) {
				output += "<td class='warning3' style='text-align:center;'>";
			} else if (antidust >= 500) {
				output += "<td class='warning2' style='text-align:center;'>";
			} else if (antidust >= 200) {
				output += "<td class='warning1' style='text-align:center;'>";
			} else {
				output += "<td style='text-align:center;'>";
			}
		} else {
			output += "<td style='text-align:center;'>";
		}
		if (list[i].ANTIDUST_COUNT) {
			output += antidust;
		}
		output += "</td>";

		var dust = -1;
		if (list[i].DUST_SCORE) {
			dust = parseInt(list[i].DUST_SCORE);
			if (dust >= 2000) {
				output += "<td class='warning3' style='text-align:center;'>";
			} else if (dust >= 1000) {
				output += "<td class='warning2' style='text-align:center;'>";
			} else if (dust >= 250) {
				output += "<td class='warning1' style='text-align:center;'>";
			} else {
				output += "<td style='text-align:center;'>";
			}
		} else {
			output += "<td style='text-align:center;'>";
		}
		if (list[i].DUST_SCORE) {
			output += dust;
		}
		output += "</td>";

		if (list[i].RENDERED_TEMPO) {
			output += "<td style='text-align:center;'>";
			output += list[i].RENDERED_TEMPO;
		} else {
			output += "<td class='warning3' style='text-align:center;'>";
		}
		output += "</td>";



	}



	output += "</tr>";
	output += "</tbody>";
	output += "</table>";

	element.innerHTML = output;
}





</script>



